// When color definition differs for dark and light variant,
// it gets @if ed depending on $variant

$base_color: if($variant == 'light', #ffffff, #464a3c);
$text_color: if($variant == 'light', #272822, #cfd0c2);
$bg_color: if($variant == 'light', #cfd0c2, #272822);
$fg_color: if($variant == 'light', #272822, #cfd0c2);

$selected_fg_color: #ffffff;
$selected_bg_color: #6cc72c;
$selected_borders_color: #6cc72c;
$borders_color: if($variant == 'light', #272822, #cfd0c2);
$borders_edge: if($variant == 'light', #272822, #cfd0c2);
$link_color: #6cc72c;
$link_visited_color: #66d9ee;
$top_hilight: $borders_edge;
$dark_fill: if($variant == 'light', #cfd0c2, #272822);
$headerbar_color: if($variant == 'light', #cfd0c2, #272822);
$menu_color: if($variant == 'light', #cfd0c2, #272822);
$popover_bg_color: if($variant == 'light', #cfd0c2, #272822);
$popover_hover_color: #6cc72c;

$scrollbar_bg_color: if($variant == 'light', #cfd0c2, #272822);
$scrollbar_slider_color: if($variant == 'light', #aba795, #343430);
$scrollbar_slider_hover_color: #6cc72c;
$scrollbar_slider_active_color: #6cc72c;

$warning_color: #fa2772;
$error_color: #6cc72c;
$success_color: #66d9ee;
$destructive_color: #fa2772;

$osd_fg_color: if($variant == 'light', #272822, #cfd0c2);
$osd_text_color: if($variant == 'light', #272822, #cfd0c2);
$osd_bg_color: if($variant == 'light', #cfd0c2, #272822);
$osd_insensitive_bg_color: if($variant == 'light', #aba795, #343430);
$osd_insensitive_fg_color: if($variant == 'light', #272822, #cfd0c2);
$osd_borders_color: if($variant == 'light', #272822, #cfd0c2);

$sidebar_bg_color: if($variant == 'light', #cfd0c2, #272822);
$base_hover_color: #6cc72c;

$tooltip_borders_color: if($variant == 'light', #272822, #cfd0c2);
$shadow_color: if($variant == 'light', #272822, #cfd0c2);;

$drop_target_color: #6cc72c;

// Unity and other GTK3 panels
$panel_bg: if($variant == 'light', #cfd0c2, #272822);
$panel_fg: if($variant == 'light', #272822, #cfd0c2);

//insensitive state derived colors
$insensitive_fg_color: if($variant == 'light', #343430, #aba795);;
$insensitive_bg_color: if($variant == 'light', #aba795, #343430);
$insensitive_borders_color: if($variant == 'light', #aba795, #343430);

//colors for the backdrop state, derived from the main colors.
$backdrop_base_color: $base_color;
$backdrop_text_color: if($variant == 'light', #272822, #cfd0c2);
$backdrop_bg_color: $bg_color;
$backdrop_fg_color: if($variant == 'light', #272822, #cfd0c2);
$backdrop_insensitive_color: if($variant == 'light', #aba795, #343430);
$backdrop_selected_fg_color: $selected_fg_color;
$backdrop_borders_color: if($variant == 'light', #272822, #cfd0c2);
$backdrop_dark_fill: if($variant == 'light', #cfd0c2, #272822);
$backdrop_sidebar_bg_color: if($variant == 'light', #cfd0c2, #272822);

$backdrop_scrollbar_bg_color: if($variant == 'light', #cfd0c2, #272822);
$backdrop_scrollbar_slider_color: if($variant == 'light', #272822, #cfd0c2);

$backdrop_menu_color: if($variant == 'light', #cfd0c2, #272822);
